---
import Container from '@/components/Container.astro';
---
<footer id="footer" class="bg-[#FFA36F] py-20 overflow-hidden">
  <Container class="relative">
    <span class="font-display mb-6 inline-block opacity-60 text-lg">Javier Diaz — Ingeniería y diseño</span>
    <!-- <nav class="flex flex-wrap gap-y-3 md:gap-y-6 gap-6 items-center mb-6 md:mb-3">
      <a class="font-semibold font-mono" href="#">Sobre mí</a>
      <a class="font-semibold font-mono" href="#">Contacto</a>
      <a class="font-semibold font-mono" href="#">Mis herramientas</a>
    </nav> -->
    <div class="flex flex-wrap gap-y-3 md:gap-y-6 gap-6 items-center mb-12">
      <a class="font-semibold font-mono" href="https://x.com/coderdiaz" rel="noopener noreferrer">x.com/coderdiaz</a>
      <a class="font-semibold font-mono" href="https://layers.to/coderdiaz" rel="noopener noreferrer">layers.to/coderdiaz</a>
      <a class="font-semibold font-mono" href="https://read.cv/coderdiaz" rel="noopener noreferrer">read.cv/coderdiaz</a>
    </div>
    <span class="inline-block">&copy; Since 2015.</span>
    <span class="absolute -right-16 -top-[12rem] mb-0 hidden font-mono text-[50rem] text-black leading-none opacity-5 lg:flex">*</span>
  </Container>
</footer>