---
import Container from '@/components/Container.astro';
import { MotionHeader } from '@/components/MotionHeader';
import { Navigation } from '@/components/Navigation';
import Logotype from '@/components/Logotype.astro';
---
<MotionHeader client:idle>
  <Container>
    <div class="flex gap-12 justify-between items-center">
      <a href="/">
        <Logotype />
      </a>
      <div class="flex items-center gap-5">
        <nav class="hidden md:flex items-center gap-3 text-white">
          <a href="#" class="font-medium text-sm">Sobre mí</a>
          <a href="#" class="font-medium text-sm">Proyectos</a>
        </nav>
        <Navigation client:load />
      </div>
    </div>
  </Container>
</MotionHeader>