---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Project from '@/components/Project.astro';
import Article from '@/components/Article.astro';
import Logotype from '@/components/Logotype.astro';
import Family from '@/assets/images/Family@2x.jpg';
import Working from '@/assets/images/Working@2x.jpg';
import { Marquee } from '@/components/Marquee';
import { getCollection } from 'astro:content';
import { cn } from '@/lib/utils';

const work =  await getCollection('work');
---
<BaseLayout>
  <section class="pt-32 md:pt-32 pb-12">
    <Container>
      <div class="flex flex-col gap-6">
        <Logotype />
        <div class="flex flex-col gap-3">
          <span class="text-lg text-gray-300">Hola, soy Javier Diaz</span>
          <div class="relative w-full lg:w-[52rem]">
            <span class="absolute -left-16 top-0 mb-0 hidden font-mono text-[10rem] text-white leading-none opacity-5 lg:flex">*</span>
            <h1 class="font-display text-white font-medium text-4xl md:text-6xl">
              Creo <span class="text-[#FFA36F]">productos digitales</span>. <span class="text-[#FFB3C0]">Interfaces</span>. Sistemas.
            </h1>
          </div>
          <p class="text-gray-300 md:text-lg md:w-[36rem]">
            Enfocado en construir las mejores soluciones en productos digitales que mejoren la productividad de las personas y sus flujos de trabajo a través de la tecnología y el diseño.
          </p>
        </div>
        <div class="flex gap-4 items-center">
          <a href="#" class="bg-white font-medium rounded-xl w-max text-black px-4 py-2.5">
            Agendar una llamada
          </a>
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-8 pb-12 md:py-20 overflow-hidden">
    <Container>
      <div class="grid lg:grid-cols-2 gap-16 md:gap-32 items-center justify-center">
        <div class="lg:aspect-square h-72 lg:h-auto relative">
        <div class="hidden md:block absolute top-0 bottom-0 left-0 right-0 w-[16rem] z-10 -rotate-6 translate-x-80 lg:translate-x-52 lg:translate-y-8">
            <Image src={Family} alt="De visita por Teotihuacan con mi esposa" />
          </div>
          <div class="absolute top-0 bottom-0 left-0 right-0 w-[24rem] z-0 md:-translate-x-12 md:translate-y-20 lg:-translate-x-10 lg:translate-y-44 rotate-3">
            <Image src={Working} width={480} alt="Javier Diaz trabajando desde su espacio creativo en casa" />
          </div>
        </div>
        <div class="text-white font-medium text-xl flex flex-col gap-5 relative w-full md:w-[34rem] lg:w-full">
          <p>Soy un freelance multidiciplinario trabajando desde la <span class="text-[#FFA36F]">Ciudad de México, México</span>. He invertido los últimos 9+ años colaborando con early-startups a desarrollar sus productos tecnológicos, sitios web, apps e interfaces.</p>
          <span class="absolute -left-16 top-0 mt-20 mb-0 hidden font-mono text-[10rem] text-white leading-none opacity-5 lg:flex">*</span>
          <p>
            Uno fuerzas con fundadores y equipos de alto rendimiento para crear las mejores <span class="text-[#FFB3C0]">experiencias digitales</span> para sus usuarios. 
          </p>
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-32 md:pt-44 pb-20">
    <Container>
      <div class="flex justify-center">
        <h2 class="font-display text-4xl text-center text-white text-balance w-96 -translate-y-12">
          Experiencias creadas desde 2019
        </h2>
      </div>
      <div class="">
        <div class="sticky top-0 flex flex-col gap-12">
          {work.map((item: any, index: number) => (
            <Project class={cn({ 'top-[5rem]': index > 0 })} item={item} />
          ))}
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-10 pb-40">
    <Container>
      <div class="grid md:grid-cols-6">
        <div class="col-span-2 mb-8 md:mb-0">
          <h2 class="text-white font-display text-4xl">Magazine</h2>
        </div>
        <div class="col-span-4 flex flex-col gap-14">
          <Article />
          <Article />
          <Article />
        </div>
      </div>
    </Container>
  </section>
  <section id="services" class="py-28 bg-[#FFA36F] relative">
    <!-- <Marquee className="-rotate-3 absolute top-0 z-0 mt-6 w-full -translate-y-3 md:-translate-y-8 bg-[#FFA36F]" client:idle>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Next.js ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">GraphQL ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Strapi ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">React Native ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Tailwind ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">HTML/CSS ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">JavaScript ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Go ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">GraphQL ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Strapi ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">React Native ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Tailwind ✦</span>
    </Marquee> -->
    <Marquee className="rotate-1 -translate-y-12 absolute z-0 top-0 mt-6 w-full bg-[#FFB3C0]" client:idle>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Disponible para proyectos ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Desarrollo frontend y backend ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Interfaces de usuario ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Software ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Disponible para proyectos ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Diseño web ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Productos digitales ✦</span>
      <span class="text-2xl md:text-3xl uppercase font-semibold tracking-widest ml-1">Aplicaciones móviles ✦</span>
    </Marquee>
    <Container>
      <div class="grid md:grid-cols-2 gap-12 md:gap-0">
        <div class="flex flex-col gap-4 text-white">
          <span class="font-medium text-lg text-black">Servicios</span>
          <h2 class="text-5xl font-display text-orange-950/80 md:w-[20rem] lg:w-[28rem] mb-6">
            Llevemos tu <span class="text-black">idea</span> de <span class="text-black">0 → 1</span>
          </h2>
          <a href="mailto:hola@coderdiaz.com" class="border-2 border-black font-medium w-max text-black rounded-full text-xl px-6 py-3 bg-white hover:bg-white/85 transition-colors duration-300">
            hola@coderdiaz.com
          </a>
        </div>
        <div class="flex flex-col tezt-white">
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Aplicaciones móviles</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Diseño web</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Interfaces de usuario</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Experiencia de usuario</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Diseño visual</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Desarrollo Frontend</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Desarrollo Backend</span>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>