---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Project from '@/components/Project.astro';
import Article from '@/components/Article.astro';
import Logotype from '@/assets/images/Logotype.svg';
import Family from '@/assets/images/Family@2x.jpg';
import Working from '@/assets/images/Working@2x.jpg';
---
<BaseLayout>
  <section class="pt-44 pb-12">
    <Container>
      <div class="flex flex-col gap-6">
        <Image src={Logotype} width={36} alt="Sitio web personal de Javier Diaz @coderdiaz" />
        <div class="flex flex-col gap-3 ">
          <span class="text-lg text-gray-300">Hola, soy Javier Diaz</span>
          <div class="relative w-[52rem]">
            <span class="absolute -left-16 top-0 mb-0 hidden font-mono text-[10rem] text-white leading-none opacity-5 lg:flex">*</span>
            <h1 class="font-display text-white font-medium text-6xl">
              Creo <span class="text-[#FFA36F]">productos digitales</span>. <span class="text-[#FFB3C0]">Interfaces</span>. Sistemas.
            </h1>
          </div>
          <p class="text-gray-300 text-lg w-[36rem]">
            Enfocado en construir las mejores soluciones en productos digitales que mejoren la productividad de las personas y sus flujos de trabajo a través de la tecnología y el diseño.
          </p>
        </div>
        <div class="flex gap-4 items-center">
          <a href="#" class="bg-white font-medium rounded-xl text-black px-4 py-2.5">
            Agendar una llamada
          </a>
        </div>
      </div>
    </Container>
  </section>
  <section class="py-20">
    <Container>
      <div class="grid grid-cols-2 gap-32 items-center">
        <div class="aspect-square relative">
          <div class="absolute top-0 bottom-0 left-0 right-0 w-[16rem] z-10 -rotate-6 translate-x-64 translate-y-12">
            <Image src={Family} alt="De visita por Teotihuacan con mi esposa" />
          </div>
          <div class="absolute top-0 bottom-0 left-0 right-0 w-[24rem] z-0 translate-y-44 rotate-3">
            <Image src={Working} width={480} alt="Javier Diaz trabajando desde su espacio creativo en casa" />
          </div>
        </div>
        <div class="text-white font-medium text-xl flex flex-col gap-5 relative">
          <p>Soy un freelance multidiciplinario trabajando desde la <span class="text-[#FFA36F]">Ciudad de México, México</span>. He invertido los últimos 9+ años colaborando con early-startups a desarrollar sus productos tecnológicos, sitios web, apps e interfaces.</p>
          <span class="absolute -left-16 top-0 mt-20 mb-0 hidden font-mono text-[10rem] text-white leading-none opacity-5 lg:flex">*</span>
          <p>
            Uno fuerzas con fundadores y equipos de alto rendimiento para crear las mejores <span class="text-[#FFB3C0]">experiencias digitales</span> para sus usuarios. 
          </p>
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-32 pb-20">
    <Container>
      <div class="flex justify-center">
        <h2 class="font-display text-4xl text-center text-white text-balance w-96 -translate-y-12">
          Experiencias creadas desde 2019
        </h2>
      </div>
      <div class="">
        <div class="sticky top-0 flex flex-col gap-12">
          <Project />
          <Project class="top-[5rem]"  />
          <Project />
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-10 pb-40">
    <Container>
      <div class="grid grid-cols-6">
        <div class="col-span-2">
          <h2 class="text-white font-display text-4xl">Magazine</h2>
        </div>
        <div class="col-span-4 flex flex-col gap-14">
          <Article />
          <Article />
          <Article />
        </div>
      </div>
    </Container>
  </section>
  <section class="py-20 bg-[#FFA36F] rounded-t-3xl">
    <Container>
      <div class="grid grid-cols-2">
        <div class="flex flex-col gap-4 text-white">
          <span class="font-medium text-lg text-black">Servicios</span>
          <h2 class="text-5xl font-display text-orange-950/80 w-[28rem] mb-6">
            Llevemos tu <span class="text-black">idea</span> de <span class="text-black">0 → 1</span>
          </h2>
          <a href="#" class="border-2 border-black w-max text-black rounded-full text-xl px-6 py-3 hover:bg-white transition-colors duration-300">
            hola@coderdiaz.com
          </a>
        </div>
        <div class="flex flex-col tezt-white">
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Aplicaciones móviles</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Diseño web</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Interfaces de usuario</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Experiencia de usuario</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Diseño visual</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Desarrollo Frontend</span>
          <span class="border-b-2 border-black/25 py-3 text-lg font-medium font-mono">Desarrollo Backend</span>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>