---
import { ArrowRightIcon } from 'lucide-react';
type Props = {
  item: any;
}
const { item } = Astro.props;
---
<article>
  <a href={`/posts/${item.slug}/`} class="group">
    <div class="flex gap-6 justify-start group-hover:bg-white/5 group-hover:ring-[2rem] rounded-xl ring-white/5 transition-all">
      <div class="flex flex-col gap-4 w-full">
        <div class="flex flex-col text-white gap-1">
          <time class="font-medium text-gray-400" datetime={item.data.publishedAt}>
            {new Date(item.data.publishedAt).toLocaleDateString('es-MX', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
          })}
          </time>
          <h3 class="text-2xl text-balance">{item.data.title}</h3>
        </div>
        <div class="flex gap-3 flex-wrapitems-center text-white">
          {item.data.tags.map((tag: string) => (
            <span class="border border-gray-600 text-gray-100 px-3 py-2 leading-none rounded-xl text-sm">{tag}</span>
          ))}
        </div>
      </div>
      <button class="hidden sm:flex flex-shrink-0 w-8 h-8 border-2 group-hover:border-white/20 border-white/10 rounded-lg p-1 group-hover:bg-white/5 transition-colors items-center justify-center">
        <ArrowRightIcon className="text-white" size={24} />
      </button>
    </div>
  </a>
</article>