---
import '@/styles/safiro.css';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Javier Diaz — Ingeniería & Diseño</title>
  </head>
  <body class="antialiased bg-[#100F0F]">
    <main>
      <slot />
    </main>
  </body>
</html>
