---
import '@/styles/safiro.css';
import Container from '@/components/Container.astro';
import { Marquee } from '@/components/Marquee';
import Cursor from '@/components/Cursor';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Javier Diaz — Ingeniería & Diseño</title>
  </head>
  <body class="antialiased bg-[#100F0F]">
    <main>
      <slot />
    </main>
    <footer id="footer" class="bg-[#FFA36F] py-20 overflow-hidden">
      <Container class="relative">
        <span class="font-display mb-6 inline-block opacity-60 text-lg">Javier Diaz — Ingeniería y diseño</span>
        <div class="flex flex-wrap gap-6 items-center mb-3">
          <a class="font-semibold font-mono" href="#">Sobre mí</a>
          <a class="font-semibold font-mono" href="#">Contacto</a>
          <a class="font-semibold font-mono" href="#">Mis herramientas</a>
        </div>
        <div class="flex flex-wrap gap-y-3 md:gap-y-6 gap-6 items-center mb-12">
          <a class="font-semibold font-mono" href="https://x.com/coderdiaz" rel="noopener noreferrer">x.com/coderdiaz</a>
          <a class="font-semibold font-mono" href="https://layers.to/coderdiaz" rel="noopener noreferrer">layers.to/coderdiaz</a>
          <a class="font-semibold font-mono" href="https://read.cv/coderdiaz" rel="noopener noreferrer">read.cv/coderdiaz</a>
        </div>
        <span class="inline-block">&copy; Since 2015.</span>
        <span class="absolute -right-16 -top-[12rem] mb-0 hidden font-mono text-[50rem] text-black leading-none opacity-5 lg:flex">*</span>
      </Container>
    </footer>
    <Marquee className="-rotate-6 absolute top-0 z-0 mt-6 w-full -translate-y-3 md:-translate-y-8 bg-[#FFA36F]" client:idle>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Next.js ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">GraphQL ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Strapi ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">React Native ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Tailwind ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">HTML/CSS ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">JavaScript ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Go ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">GraphQL ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Strapi ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">React Native ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Tailwind ✦</span>
    </Marquee>
    <Marquee className="rotate-6 md:rotate-2 -translate-y-6 absolute z-0 top-0 mt-6 w-full bg-[#FFB3C0]" client:idle>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Disponible para proyectos ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Desarrollo frontend y backend ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Interfaces de usuario ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Software ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Disponible para proyectos ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Diseño web ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Productos digitales ✦</span>
      <span class="md:text-lg uppercase font-bold tracking-widest ml-1">Aplicaciones móviles ✦</span>
    </Marquee>
    <Cursor client:load />
  </body>
</html>
